:root {
    --item-color: rgba(216, 235, 255, 0.938);
}

.small-container {
    width: 40rem;
    max-width: 95vw;
}

h1 {
    margin-bottom: 1rem;
    color: lightsteelblue;
    text-align: center;
}

label {
    margin: 0;
    color: slategray;
    font-size: 0.9em;
    font-weight: normal;
}

form {
    margin-bottom: 1rem;
}

.items {
    box-sizing: border-box;
    padding: 0.5rem 0 0;
    color: slategray;
    background-color: aliceblue;
    border-radius: 0.5rem;
}

.items h2 {
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-align: center;
    color: lightsteelblue;
}

.items ul {
    padding: 0 1rem 1rem;
}

.items li {
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    list-style-type: none;
    /*color: #35597F;*/
    color: #545F75;
    background-color: var(--item-color);
    border-radius: 0.5rem;
}

#container-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

#checkboxes {
    margin-top: 0.5rem;
}

#button-add {
    margin-top: 0.5rem;
}
