:root {
    --item-color: rgba(216, 235, 255, 0.938);
}

h1 {
    margin-bottom: 1rem;
    color: lightsteelblue;
    text-align: center;
}

label {
    margin: 0;
    color: slategray;
    font-size: 0.9em;
    font-weight: normal;
}

form {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

button {
    margin-right: 0.4rem;
}

.small-container {
    width: 45rem;
    max-width: 95vw;
}

.container-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.checkboxes {
    margin-top: 0.5rem;
}

.items {
    box-sizing: border-box;
    padding: 0.5rem 0 0;
    color: slategray;
    background-color: aliceblue;
    border-radius: 0.5rem;
}

.items h2 {
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-align: center;
    color: lightsteelblue;
}

.items ul {
    padding: 0 1rem 1rem;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    list-style-type: none;
    min-height: 3.5rem;
    color: #545F75;
    background-color: var(--item-color);
    border-radius: 0.5rem;
}

.item div {
    display: none;
    margin-left: 0.5rem;
}

.delete-btn, .edit-btn {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 0.1rem;
    color: #545F75;
    border-color: slategray;
}

.delete-btn:hover {
    color: tomato;
    border-color: tomato;
}

.edit-btn:hover {
    color: limegreen;
    border-color: limegreen;
}

.edit {
    font-size: 1.1em;
    background-color: #fff;
    padding: 0.5rem;
}

.visible {
    display: inline-flex !important;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    :root {
        font-size: 14px;
    }

    form {
        margin-bottom: 0.5rem;
        padding-bottom: 0.4rem;
    }

    button {
        font-size: 0.95rem;
    }
}
